@model SampleWebApp.Models.NameInputModel

<h1>Sample</h1>


@using (var form = Ajax.BeginForm("SayHello", new AjaxOptions {UpdateTargetId = "name"}))
{
    <p>
        @Html.TextBox("Name")
        <input type="submit" value="Submit"/>
    </p>
    <div>
        <span id="name"></span>
    </div>
    
}

<div id="logging"></div>


@section scripts
{
    <script>
        $(document).ready(function() {
            var connection = $.connection('/semanticLogging');
            
            connection.received(function (value) {
                console.log(value);
                $("#logging").append("<span>" + value + "</span><br/>");
            });

            connection.start();

        })
    </script>
    @Scripts.Render("~/bundles/signalr")
}
