@model SampleWebApp.Models.NameInputModel

<h1>Sample</h1>

@using(var form = Html.BeginForm("SayHello"))
{
    @Html.TextBoxFor(m=>m.Name)
    <input type="submit"/>
    
    if (Model != null && !string.IsNullOrEmpty(Model.Name))
    {
         <h2>Hello, @Model.Name</h2>
    }

}

